<h3 class="title">Stations</h3>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <th scope="col">Station Name</th>
    <th scope="col">State</th>
    <th scope="col">Description</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr *ngFor="let station of stations; let i=index">
      <td>{{station.name}}</td>
      <td>{{station.state}}</td>
      <td>{{station.description}}</td>
      <td>
        <button class="btn btn-primary" type="button" (click)="bikeStationDetail(station._id)">Disponibility</button>
      </td>
    </tr>
    </tbody>
  </table>
